.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9; 
}

.form-group {
  text-align: left;
  padding: 10px; 
}

@media (max-width: 576px) {
  .container {
    display: block;
    width: 100%;
  }
}
